{% extends 'base.html' %}
{% block content%}

          <div class="container text-center mt-5">
              
          
          
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-6 col-lg-5">
                      <div class="card shadow-lg mt-5">
                          <div class="card-body p-5">
                              <h1 class="card-title text-center mb-4">Update Profile</h1>
                              <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ user_form.as_p }}
                                <br/>
                                {{ profile_form.as_p}}
                                  <!-- Submit Button -->
                                  <div class="d-grid gap-2">
                                      <button type="submit" class="btn btn-primary btn-lg">Update Profile</button>
                                  </div>
      
                                  
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
          {%endblock%}